@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
    font-family: "Manrope", sans-serif;
}
.mybody {
    background: linear-gradient(to right, #002853 , #040C18);
}

.row {
    margin: 0;
}

.nav-link {
    color: #fff;
    margin-right: 50px;
}

.nav-link:hover {
    color: #fff;
}

.btn11 {
    color: #fff;
}

.btn12 {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 12px;
    background: #FF4820;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}

.nav-btn {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 7px 14px;
    font-family: "Manrope", sans-serif;
    background: #FF4820;
    color: #fff;
}

.header1 {
    background: -webkit-linear-gradient(to right, #AE67FA, #F49867);
    background: -moz-linear-gradient(to right, #AE67FA, #F49867);
    background: linear-gradient(to right, #AE67FA, #F49867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 900;
}

.para {
    color: #81AFDD;
    font-size: 12px;
}

.img1 {
    width: 450px;
    position: relative;
    margin-top: -60px;
    margin-left: -60px;
}

.navimg {
    width: 40px;
}

.form1 {
    background: #052D56;
    color: #3D6184;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 12px;
}

.imgf {
    width: 100px;
    margin-right: 10px;
}

.paraf {
    color: #fff;
    font-size: 10px;
    
}

.box {
    display: flex;
}

.section-brand {
    text-align: center;
}

.section-brand img {
    width: 8%;
    margin: 0 20px 0 0;
}

.img-sec {
    margin: 50px 0;
}

.what-gpt {
    background: -webkit-linear-gradient(to bottom right, #0F42, #1B78De);
    background: -moz-linear-gradient(to bottom right, #0F42, #1B78De);
    background: linear-gradient(to bottom right, #0F42, #1B78De);
    padding: 50px 20px;
}

.gpt {
    color: #81AFDD;
}

.hee {
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.heed {
    color: #FF8A71;
}

.head5 {
    color: #FFFFFF;
    font-family: 'Manrope';
    font-weight: 900;
}

.para5 {
    color: #81AFDD;
}